<template>
  <div>
    <AdminFaq />
  </div>
</template>

<script>
import { defineComponent } from "vue";
import AdminFaq from "../components/AdminFaq.vue";

export default defineComponent({
  components: { AdminFaq },
  setup() {},
});
</script>
