<template>
  <div>
    <Faq />
  </div>
</template>

<script>
import { defineComponent } from "vue";
import Faq from "../components/Faq.vue";

export default defineComponent({
  components: { Faq },
  setup() {},
});
</script>
