<template>
  <vue-collapsible-panel-group base-color="#0035a0">
    <vue-collapsible-panel
      v-for="item in faq"
      :key="item.id"
      :expanded="item.answer.length > 0 ? false : true"
    >
      <template #title>
        <span>
          {{ item.title }}
        </span>
        <span class="ms-2" v-if="!item.answer.length">
          <i class="bi bi-exclamation-circle"></i
        ></span>
      </template>
      <template #content>
        <div class="answer">
          <input
            class="form-control"
            :value="inputValue[item.id]"
            @input="inputValue[item.id] = $event.target.value"
            placeholder="Mettez ici votre réponse"
            v-if="onUpdate[item.id]"
          />
          <div v-else class="answer-item">
            {{ item.answer ? item.answer : "Aucune réponse" }}
          </div>
          <div class="button">
            <button
              v-if="item.answer.length > 0"
              type="button"
              class="btn btn-outline-secondary"
              v-on:click="openInput(item.id)"
            >
              <i v-if="!onUpdate[item.id]" class="bi bi-pencil"></i>
              <i v-else class="bi bi-x-lg"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              @click="confirm(item.id)"
              v-if="onUpdate[item.id]"
            >
              <i class="bi bi-check2"></i>
            </button>
            <button
              v-if="item.answer.length == 0 && !onUpdate[item.id]"
              type="button"
              class="btn btn-outline-secondary"
              v-on:click="openInput(item.id)"
            >
              <i class="bi bi-reply"></i>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              v-on:click="deleteFaq(item.id)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </template>
    </vue-collapsible-panel>
  </vue-collapsible-panel-group>
</template>

<script>
import { computed, defineComponent, ref } from "vue";
import { useFaqStore } from "../stores/faq";
import "@dafcoe/vue-collapsible-panel/dist/vue-collapsible-panel.css";
import { toast } from "vue3-toastify";

export default defineComponent({
  components: {},
  setup() {
    const store = useFaqStore();
    const onUpdate = ref({});
    const inputValue = ref({});

    const faq = computed(() => {
      const faq = store.faq;

      return [...faq].sort((a, b) => b.id - a.id);
    });

    const openInput = (id) => {
      inputValue.value[id] =
        faq.value.find((item) => item.id === id)?.answer || "";
      onUpdate.value[id] = !onUpdate.value[id];
    };

    const confirm = (id) => {
      const updatedAnswer = inputValue.value[id] || "";

      store.updateAnswerById(id, updatedAnswer);

      onUpdate.value[id] = false;

      toast("Envoi avec succès", {
        autoClose: 1000,
        position: "bottom-right",
        type: "success",
      });
    };

    const deleteFaq = (id) => {
      store.deleteItemById(id);
      toast("Suppression avec succès", {
        autoClose: 1000,
        position: "bottom-right",
        type: "success",
      });
    };

    return { faq, onUpdate, inputValue, confirm, openInput, deleteFaq };
  },
});
</script>

<style scoped>
.button > button {
  display: inline-block;
  vertical-align: middle;
  margin-inline: 5px;
}
.answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-control,
.answer-item {
  width: 85%;
}
@media (max-width: 1096px) {
  .form-control,
  .answer-item {
    width: 100%;
  }
  .answer {
    display: block;
  }
  .button {
    margin: 5px;
    text-align: right;
  }
}
</style>
