<template>
  <InputFaq />
  <vue-collapsible-panel-group class="mt-3" base-color="#0035a0">
    <vue-collapsible-panel
      v-for="item in faq"
      :key="item.id"
      :expanded="item.id == 1 ? true : false"
    >
      <template #title>
        <div>
          {{ item.title }}
        </div>
      </template>
      <template #content>
        <div class="ps-4 pe-2">
          {{ item.answer }}
        </div>
      </template>
    </vue-collapsible-panel>
  </vue-collapsible-panel-group>
</template>

<script>
import { useFaqStore } from "../stores/faq";
import { computed, defineComponent } from "vue";
import InputFaq from "./InputFaq.vue";
import "@dafcoe/vue-collapsible-panel/dist/vue-collapsible-panel.css";

export default defineComponent({
  components: { InputFaq },
  setup() {
    const store = useFaqStore();

    const faq = computed(() =>
      store.faq.filter((elt) => elt.answer.length > 0)
    );

    return { faq };
  },
});
</script>
