<template>
  <form @submit.prevent="confirm">
    <h3>Retrouvez ici vos questions :</h3>
    <div class="input-group input-group-lg">
      <input
        required
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
        v-model="inputValue"
        placeholder="Autre question ? Mettez la ici"
      />
    </div>
  </form>
</template>

<script>
import { defineComponent, ref } from "vue";
import { useFaqStore } from "../stores/faq";
import { toast } from "vue3-toastify";

export default defineComponent({
  setup() {
    const inputValue = ref("");
    const store = useFaqStore();

    const confirm = () => {
      store.postFaq(inputValue.value);
      inputValue.value = "";
      toast("Envoi avec succès", {
        autoClose: 1000,
        position: "bottom-right",
        type: "success",
      });
    };

    return { inputValue, confirm };
  },
});
</script>

<style scoped>
@media (min-width: 768px) {
  .input-group {
    padding-inline: 10px;
  }
}
</style>
