<template>
  <div id="nav" class="app">
    <router-link to="/">Visiteur</router-link> |
    <router-link to="/admin">Admin</router-link>
  </div>
  <div class="router">
    <router-view />
  </div>
</template>

<script>
import { RouterView } from "vue-router";
import { defineComponent } from "vue";

export default defineComponent({
  components: { RouterView },
  setup() {
    return {};
  },
});
</script>

<style>
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 80%;
  color: #2c3e50;
  margin: 0 auto;
}
.router {
  width: 80%;
  margin: 0 auto;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #0035a0;
}
</style>
